
.primeira{
    border-radius: 10px;
    background: rgb(107, 151, 107);
    height: 225px;
    width: 680px;
    background-image: linear-gradient(to top, #57b375 0%, #96ac96 100%);
}
header{
    background: rgb(6, 71, 6);
    height: 50px;
    width: 680px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #197739 0%, #16d316 100%);
}
#titulo {
    font-size: 20px;
    text-align: center;
    color: azure;
    padding: 13px;
}
.paragrafo{
    text-align: left;
    margin: 10px;
    margin-left: 50px;
}
#paragrafo{
    text-align: left;
    margin: 10px;
    margin-left: 50px;
    margin-top: -70px;
}
.campo-unico{
    width: 35px;
    margin: 0px;
    border-bottom: 10px;
    margin-left: 50px;
}
.campo-pequeno{
    width: 35px;
    margin: 0px;
    border-bottom: 10px;
    margin-left: 0px;
}
.campo-enviar{
    width: 80px;
}
.exibir{
    margin-left: 487px;
}
.texto-exibir{
    float: right;
    padding: 0;
    margin: 0;
}
.kkkk{
    height: 50px;
    margin-top: -30;
}
.div2{
    height: 20px; 
    
}
.resultado{
    margin-left: 50px;
}
.novo{
    margin-left: 477px;
}
